## `Analysis chinook database`

### First thing read db and show it's table's and columns

In [5]:
import sqlite3
import pandas as pd

# Connect to SQLite database
conn = sqlite3.connect('Chinook_Sqlite.sqlite')
cursor = conn.cursor()

#List all tables in the db
query= "SELECT name FROM sqlite_master  WHERE type ='table';"
tables_name = cursor.execute(query).fetchall()
for table_name in tables_name:

    # count the rows in table
    count_query=f"SELECT COUNT(*) FROM {table_name[0]};" 
    cursor.execute(count_query)  
    row_count = cursor.fetchone()[0]
    print(f"Table {table_name[0]} has {row_count} rows.")

    # fetch columns names for the table
    columns_query = f"PRAGMA table_info({table_name[0]});"
    cursor.execute(columns_query)
    columns = [column[1] for column in cursor.fetchall()]
    print(f"Columns: {', '.join(columns)}\n\n")

Table Album has 347 rows.
Columns: AlbumId, Title, ArtistId/n/n
Table Artist has 275 rows.
Columns: ArtistId, Name/n/n
Table Customer has 59 rows.
Columns: CustomerId, FirstName, LastName, Company, Address, City, State, Country, PostalCode, Phone, Fax, Email, SupportRepId/n/n
Table Employee has 8 rows.
Columns: EmployeeId, LastName, FirstName, Title, ReportsTo, BirthDate, HireDate, Address, City, State, Country, PostalCode, Phone, Fax, Email/n/n
Table Genre has 25 rows.
Columns: GenreId, Name/n/n
Table Invoice has 412 rows.
Columns: InvoiceId, CustomerId, InvoiceDate, BillingAddress, BillingCity, BillingState, BillingCountry, BillingPostalCode, Total/n/n
Table InvoiceLine has 2240 rows.
Columns: InvoiceLineId, InvoiceId, TrackId, UnitPrice, Quantity/n/n
Table MediaType has 5 rows.
Columns: MediaTypeId, Name/n/n
Table Playlist has 18 rows.
Columns: PlaylistId, Name/n/n
Table PlaylistTrack has 8715 rows.
Columns: PlaylistId, TrackId/n/n
Table Track has 3503 rows.
Columns: TrackId, Name, AlbumId, MediaTypeId, GenreId, Composer, Milliseconds, Bytes, UnitPrice/n/n